# macOS clutter
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies / build artifacts
node_modules/
dist/
build/

# Editor state
.idea/
.vscode/

# Chrome extension temporary files
*.pem

